@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

/* 
  Global style
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  position: relative;
}

body::after {
  content: "";
  background: url("./images/babel-library.jpeg");

  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

h1 {
  font-weight: 600;
}

/*
  Utilities
*/
.center-this {
  margin: 0 auto;
}

.draw-border {
  border: 2px solid rgb(126, 13, 126);
}

.no-bullet {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* 
  Navigation bar style
 */
.navigation {
  background-color: gainsboro;
}

.navigation .link {
  color: rgb(71, 71, 71);
  text-decoration: none;
  margin-right: 20px;
}

/*
  Search bar style
 */
.box-container {
  margin: auto;
  margin-top: 20%;
  position: relative;
  width: 300px;
  height: 42px;
  border: 4px solid #2980b9;
  padding: 0px 10px;
  border-radius: 50px;
}

.elements-container {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.search-input {
  border: none;
  height: 100%;
  width: 100%;
  padding: 0px 5px;
  border-radius: 50px;
  font-size: 18px;
  color: #424242;
  font-weight: 400;
}

.search-input:focus {
  outline: none;
}

.search-button {
  padding: 0;
  border: none;
  background: none;
}

.search-icon {
  width: 100%;
}

/* loader style */
.loader-div {
  height: 500px;
  width: 100vw;
}

/* 
  Book card style
 */

.book-card {
  width: 16rem;
  /* height: 32rem; */
  margin-bottom: 2rem;
  overflow: auto;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-book-title {
  font-weight: 700;
}

.unknown-author {
  font-weight: 600;
  color: crimson;
}

/* .book-button-group {

} */

.book-button-group button {
  font-size: 0.8rem;
  padding: 6px 10px;
  margin-right: 8px;
}

/* 
  Book detail Media style
 */

.detail-container {
  width: 80%;
}

.book-detail-cover {
  width: 30%;
  min-width: 250px;
}

.detail-info-section {
  min-width: 500px;
  background-color: lightgray;
  border-radius: 50px;
  text-align: center;
  max-width: 60%;
  padding: 30px 40px;
  margin: auto;
}

.book-detail-title {
  font-family: "Lobster", cursive;
  font-size: 2.5rem;
}

.detail-button-group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.detail-button-group button {
  font-size: 0.9rem;
}

.add-to-favorite {
  background-color: palevioletred;
}

/* 
  Not found page
*/
.not-found {
  height: 80vh;
}
